@import "../_vars.scss";

.catalog{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;

  &__catalog{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__header{
      display: flex;
      align-items: center;
      gap: 47px;
    }

    &__settings{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__selects{
        display: flex;
        align-items: center;
        gap: 50px;

        &__select{
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      &__btns{
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__container{
          display: flex;
          justify-content: space-between;
        }
      }
    }

    &__cards{
      display: flex;
      flex-wrap: wrap;
      min-height: 335px;
      gap: 30px;

      &__notFound{
        width: 100%;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        justify-self: center;
        color: $text-forth;
        user-select: none;
        margin-bottom: 50px;
      }

      &__animated{

        &_float{
          width: 100%;
        }
      }
    }
  }
}

.filters{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    & button{
      color: $text-error !important;

      & svg{

        & path{
          stroke: $text-error !important;
        }
      }
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    &__filter{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      &__name{
        padding: 5px 0;
      }

      &__options{

        &__option{
          padding: 5px 20px 5px 0;
        }
      }
    }
  }
}