@import "../_vars.scss";

.product{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;

  &__back{
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__content{
    width: 100%;
    padding: 42px;
    border-radius: $border-radius-block;
    background-color: $block-sec;
    display: flex;
    justify-content: space-between;
    gap: 40px;

    &__images{
      width: 402px;

      &__image{
        width: 100%;
        height: 463px;

        & img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__list{
        width: 100%;
        display: flex;
        justify-content: space-between;

        & img{
          width: 120px;
        }
      }
    }

    &__info{
      width: 55%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__header{
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1150px) {
          & {
            flex-direction: column-reverse;
            align-items: flex-end;
            gap: 10px;
          }
        }

        &__statuses{
          display: flex;
          gap: 10px;

          & div{
            background-color: $block-main;
            border-radius: $border-radius-card;
            padding: 5px 10px;
            color: $text-third;
          }

          &__not{
            background-color: $block-disabled !important;
          }
        }

        &__article{
          display: flex;
          align-items: center;
          color: $text-forth;
        }
      }

      &__price{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;

        &__old{
          color: $text-forth;
          text-decoration: line-through;
        }
      }

      &__btns{
        width: 100%;
        display: flex;
        gap: 10px;
      }

      &__desc{
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__text{
          width: 80%;
          color: $text-forth;
        }
      }
    }
  }

  &__info{
    width: 100%;
    padding: 42px;
    border-radius: $border-radius-block;
    background-color: $block-sec;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &__details{
      width: 50%;
      display: flex;
      flex-direction: column;

      & div{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #DDDDDD;

        & p:last-child{
          text-align: right;
        }
      }

      & div:last-child{
        border-bottom: none !important;
      }
    }

    &__desc{
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__text{
        width: 100%;
        color: $text-forth;
      }
    }
  }
}