@import "../_vars.scss";

.btn{
  outline: none;
  border: 1px solid #00000000;
  border-radius: $border-radius-button;
  cursor: pointer;
  transition: background-color .25s, color .1s, border-color .25s;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: $font-size-small;

  &__full{
    width: 100%;
  }

  & svg{
    height: 12px;
  }

  &__bigger{
    padding: 15px 70px;
    font-size: $font-size-medium;
  }

  &__big{
    padding: 15px 40px;
  }

  &__medium{
    padding: 10px 30px;
  }

  &__small{
    padding: 5px 15px;
  }

  &__icon{
    padding: 0 !important;
    width: 41px;
    height: 41px;
  }

  &__filled{
    background: $block-main;
    color: $text-third;

    & svg{

      & path{
        stroke: $text-third;
      }
    }

    &:hover{
      background: $block-main-hover;
      color: $text-third;

      & svg{

        & path{
          stroke: $text-third;
        }
      }
    }
  }

  &__outlined{
    background: $block-sec;
    color: $text-sec;
    border: 1px solid $block-main;

    & svg{

      & path{
        stroke: $text-sec;
      }
    }

    &:hover{
      background: $block-main;
      color: $text-third;

      & svg{

        & path{
          stroke: $text-third;
        }
      }
    }

    &:active{
      background: $block-main-hover;
      color: $text-third;

      & svg{

        & path{
          stroke: $text-third;
        }
      }
    }
  }

  &__disabled{
    background: $block-disabled;
    color: $text-third;
    cursor: unset;

    & svg{

      & path{
        stroke: $text-third;
      }
    }

    &:active{
      background: $block-disabled;
      color: $text-third;
      border: 1px solid #00000000;
    }
  }

  &__error{
    background: $block-error;
    color: $text-third;

    &:hover{
      background: $block-error-hover;
      color: $text-third;

      & svg{

        & path{
          stroke: $text-third;
        }
      }
    }

    &:active{
      background: $block-error-hover;
    }
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple $ripple-animation-time linear;
}

.btn__outlined span.ripple {
  background-color: rgba(0, 0, 0, $ripple-opacity);
}

.btn__filled span.ripple {
  background-color: rgba(255, 255, 255, $ripple-opacity);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}