.container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__wrapper{
    width: 1050px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .container {

    &__wrapper{

      width: 700px;
    }
  }
}

@media screen and (max-width: 700px) {
  .container {

    &__wrapper{
      width: 100vw;
      padding: 0 20px;
    }
  }
}