@import "../_vars.scss";

.header{
  width: 1110px;
  padding: 27px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 33px;
  background-color: $block-sec;
  border-radius: $border-radius-block;
  margin-top: 40px;

  @media screen and (max-width: 1150px) {
    & {
      width: 800px;
    }
  }

  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left{
      display: flex;
      align-items: center;
      gap: 50px;

      &__links{
        display: flex;
        align-items: center;
        gap: 45px;

        & a{
          color: $text-forth;
        }
      }
    }

    &__right{
      display: flex;
      gap: 48px;

      &__link{

        & svg{
          height: 35px;
        }

        &__svg{
          height: 34px;
          width: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid $border-color-main;
          cursor: pointer;

          & svg{
            height: 34px;
            width: 34px;
          }
        }

        &__active{

          & svg{

            & path{
              stroke: $border-color-main;
            }
          }
        }

        &__count{
          position: absolute;
          background: $block-main;
          color: $text-third;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 14px;
          user-select: none;
        }
      }
    }
  }

  &__bottom{
    display: flex;
    align-items: center;
    gap: 40px;
  }
}