@import "../_vars.scss";

.header{
  width: 1110px;
  padding: 27px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 33px;
  background-color: $block-sec;
  border-radius: $border-radius-block;
  margin-top: 40px;

  @media screen and (max-width: 1150px) {
    & {
      width: 800px;
    }
  }

  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left{
      display: flex;
      align-items: center;
      gap: 50px;

      & a, & span{

        @media screen and (max-width: 1150px) {
          & {
            font-size: $font-size-big !important;
          }
        }
      }

      &__links{
        display: flex;
        align-items: center;
        gap: 45px;

        @media screen and (max-width: 1150px) {
          & {
            display: none;
          }
        }

        & a{
          color: $text-forth;
        }
      }
    }

    &__right{
      display: flex;
      gap: 48px;

      &__link{

        & svg{
          height: 35px;
        }

        &__svg{
          height: 34px;
          width: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid $border-color-main;
          cursor: pointer;

          & svg{
            height: 34px;
            width: 34px;
          }
        }

        &_active{

          & svg{

            & path{
              stroke: $border-color-main;
            }
          }
        }

        &__count{
          position: absolute;
          background: $block-main;
          color: $text-third;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 14px;
          user-select: none;
        }
      }
    }
  }

  &__bottom{
    display: flex;
    align-items: center;
    gap: 40px;

    &__btn{
      visibility: visible;
    }
  }
}

.headerMenu{
  width: 100%;
  height: auto;
  display: flex;
  visibility: hidden;
  transition: all 0.3s;

  &__animated{
    position: absolute;
    top: 250px;
    width: 1110px;
    z-index: $z-index-dropdown-upper-sec;

    @media screen and (max-width: 1110px) {
      & {
        width: 800px;
      }
    }
  }

  &_active{
    visibility: visible;
  }

  &__left{
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-card;
    border: 1px solid $border-color-sec;
    background: $block-sec;
    gap: 10px;

    &__item{
      padding: 10px 25px;

      &:hover{
        background-color: $block-forth-hover;
        cursor: pointer;
      }
    }

    &__space{
      padding: 10px 25px;
    }
  }
}