@import "../_vars.scss";

.header{
  width: 1110px;
  padding: 27px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 33px;
  background-color: $block-sec;
  border-radius: $border-radius-block;
  margin-top: 40px;

  @media screen and (max-width: 1150px) {
    & {
      width: 800px;
    }
  }

  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left{
      display: flex;
      align-items: center;
      gap: 50px;

      &__links{
        display: flex;
        align-items: center;
        gap: 45px;

        & a{
          color: $text-forth;
        }
      }
    }

    &__right{
      display: flex;
      align-items: center;
      gap: 48px;

      &__link{

        & svg{
          height: 35px;
        }
      }

      &__auth{
        cursor: pointer;
      }
    }
  }

  &__bottom{
    display: flex;
    align-items: center;
    gap: 40px;
  }
}