@import "../../vars";

.dropdown{
  width: 100%;
  max-width: 1110px;
  background-color: $block-sec;
  border-radius: $border-radius-block;
  transition: all .3s linear;
  border: 1px solid $border-color-sec;

  & *{
    margin: 0;
  }

  &__active{
    border: 1px solid $border-color-main;
    box-shadow: 0 0 5px 4px $border-color-third,
                0 0 5px 2px $border-color-sec;
  }

  &__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    cursor: pointer;
    box-sizing: border-box;
  }

  &__text{
    width: 100%;
    transition: all .3s linear;
    overflow: hidden;
    height: 0;
    box-sizing: border-box;

    &__active{
      height: 120px !important;
      transition: height .3s linear;
    }

    & p{
      margin: 0 30px 30px 30px;
      color: $text-forth !important;
    }
  }
}