@import "../../vars";

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #00000050;
  z-index: $z-index-modal;
  opacity: 0;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;

  &__active{
    visibility: visible;
    opacity: 1 !important;

    & .modal__block{
      top: 30vh;
    }
  }

  &__block{
    position: absolute;
    min-height: 350px;
    top: -800px;
    width: 650px;
    height: auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: $block-sec;
    transition: all 0.5s;
    font-size: 18px;
    cursor: auto;
    border-radius: 40px;
    overflow: hidden;

    &__content{
      overflow-y: auto;
      max-height: 700px;
      padding: 0 10px 10px 10px;
    }

    &__close {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      svg {
        position: relative;
        top: 0;
        transition: all 0.5s;
        z-index: 9;
        cursor: pointer;
      }

      &__active svg{

      }
    }

    &__container{
      width: 80%;
      height: 80%;
      gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}