@import "../../vars";

.text{
  color: $text-main;
  text-decoration: none;

  &_small{
    font-size: $font-size-small;
  }

  &_medium{
    font-size: $font-size-medium;
  }

  &_big{
    font-size: $font-size-big;
  }

  &_bigPlus{
    font-size: $font-size-big_plus;
  }

  &_bigger{
    font-size: $font-size-bigger;
  }

  &_colored{
    color: $text-sec !important;
  }

  &_link{
    text-decoration: underline;
  }

  &_bold{
    font-weight: 900;
  }

  &_noTd{
    text-decoration: none !important;
  }
}