@import "../../vars";

.text{
  color: $text-main;
  text-decoration: none;

  &__small{
    font-size: $font-size-small;
  }

  &__medium{
    font-size: $font-size-medium;
  }

  &__big{
    font-size: $font-size-big;
  }

  &__big_plus{
    font-size: $font-size-big_plus;
  }

  &__bigger{
    font-size: $font-size-bigger;
  }

  &__colored{
    color: $text-sec !important;
  }

  &__link{
    text-decoration: underline;
  }

  &__bold{
    font-weight: 900;
  }

  &__no_td{
    text-decoration: none !important;
  }
}