// Colors
$text-main: #2D303B;
$text-sec: #5B74F9;
$text-third: #FFFFFF;
$text-forth: #898989;
$text-error: #F95B5B;

$block-main: #5B74F9;
$block-main-hover: #495BBD;
$block-sec: #FFFFFF;
$block-sec-hover: #eae5e5;
$block-third: #EFEFEF;
$block-forth: #F9F9FF;
$block-disabled: #898989;
$under-line-color: #D7D7D7;
$block-success: #44B571;
$block-error: #F95B5B;
$block-error-sec: #fffcfc;
$block-error-hover: #de4242;

$scroll-main: #bdbfc0;
$scroll-sec: #dedcdc;

$border-color-main: #5B74F9;
$border-color-sec: #DDDDDD;
$border-color-third: #5B74F925;
$border-color-error: #F95B5B50;
$border-color-error-sec: #de424280;

// Values
$z-index-base: 3;
$z-index-dropdown: 4;
$z-index-popup: 5;
$z-index-modal: 6;
$z-index-page: 7;

$border-radius-card: 30px;
$border-radius-block: 40px;
$border-radius-button: 50px;

$font-size-small: 18px;
$font-size-medium: 22px;
$font-size-big: 30px;
$font-size-big_plus: 40px;
$font-size-bigger: 54px;

$ripple-opacity: 0.3;
$ripple-animation-time: 500ms;
