// Colors
$text-main: #2D303B;
$text-sec: #5B74F9;
$text-third: #FFFFFF;
$text-error: red;

$block-main: #5B74F9;
$block-sec: #FFFFFF;
$block-third: #EFEFEF;
$block-disabled: #898989;
$under-line-color: #D7D7D7;
$block-success: #44B571;

$scroll-main: #5B74F9;
$scroll-sec: #f2f3f6;

// Values
$z-index-base: 3;
$z-index-dropdown: 4;
$z-index-popup: 5;
$z-index-modal: 6;
$z-index-page: 7;

$border-radios-block: 40px;
$border-radios-button: 50px;
